<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DapperGenerationTool.Properties.System" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DapperGenerationTool.Properties.Table" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="ClientId" value="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DapperGenerationTool.Properties.System>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.;Initial Catalog=OrchardWeb;Integrated Security=true;</value>
            </setting>
            <setting name="GenerationLanguage" serializeAs="String">
                <value />
            </setting>
        </DapperGenerationTool.Properties.System>
        <DapperGenerationTool.Properties.Table>
            <setting name="StaticMethods" serializeAs="String">
                <value>True</value>
            </setting>
        </DapperGenerationTool.Properties.Table>
    </userSettings>
</configuration>