<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RepoLite.Common.Properties.System" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RepoLite.Common.Properties.Generation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RepoLite.Common.Properties.System>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.;Initial Catalog=RepoDev;Integrated Security=true;</value>
            </setting>
            <setting name="SessionDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>SQLServer</value>
            </setting>
            <setting name="GenerationLanguage" serializeAs="String">
                <value>CSharp</value>
            </setting>
        </RepoLite.Common.Properties.System>
        <RepoLite.Common.Properties.Generation>
            <setting name="ModelGenerationNamespace" serializeAs="String">
                <value>NS.Models</value>
            </setting>
            <setting name="RepositoryGenerationNamespace" serializeAs="String">
                <value>NS</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ModelFileNameFormat" serializeAs="String">
                <value>m.{Name}</value>
            </setting>
            <setting name="RepositoryFileNameFormat" serializeAs="String">
                <value>{Name}</value>
            </setting>
            <setting name="TargetFramework" serializeAs="String">
                <value>Framework35</value>
            </setting>
            <setting name="CSharpVersion" serializeAs="String">
                <value>CSharp4</value>
            </setting>
            <setting name="Plugin" serializeAs="String">
                <value>None</value>
            </setting>
        </RepoLite.Common.Properties.Generation>
    </userSettings>
</configuration>